body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
body .form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
body .form-signin input {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
body .form-signin input .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
body .form-signin .button-sakura {
  color: #fff;
  background-color: #f36;
  border-color: #ffdbed;
}
