.report-create-area {
  padding-top: 4rem;
  padding-bottom: 2rem;
  padding-right: 15rem;
  padding-left: 15rem;
  color: #212529;
}
.report-create-area .report-file {
  padding-right: 3rem;
}
.report-create-area .file-name-label {
  padding-top: 0.3rem;
}
.report-create-area .report-create-title {
  padding-bottom: 4rem;
  text-align: left;
}
.report-create-area .continue-to-register-none {
  display: none;
}
.report-create-area .continue-to-register {
  text-align: right;
}
.cell,
.cover-report .report-table-area .target-year,
.cover-report .report-table-area .auther-user,
.cover-report .report-table-area .file-name,
.cover-report .report-table-area .download-count {
  padding-top: 1.15rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}
.cover-report {
  padding: 2rem;
}
.cover-report .search-sec {
  padding-bottom: 2rem;
  padding-left: 3rem;
}
.cover-report .search-sec .search-year {
  width: 100px;
}
.cover-report .search-sec .search-full-name {
  width: 140px;
}
.cover-report .search-sec .search-report {
  width: 530px;
}
.cover-report .report-create-link {
  float: right;
  padding-right: 2.8rem;
  padding-bottom: 2rem;
}
.cover-report .report-table-area {
  max-height: 45%;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
}
.cover-report .report-table-area .sort-header:hover {
  color: #4169e1;
}
.cover-report .report-table-area .target-year {
  width: 50px;
}
.cover-report .report-table-area .auther-user {
  width: 100px;
}
.cover-report .report-table-area .file-name {
  width: 400px;
}
.cover-report .report-table-area .file-name .text:hover + .comment {
  display: block;
}
.cover-report .report-table-area .file-name .comment {
  display: none;
  position: absolute;
  padding: 16px;
  border-radius: 5px;
  background-color: #4169e1;
  color: #fff;
  font-weight: bold;
}
.cover-report .report-table-area .file-name .comment:after {
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  bottom: -19px;
  margin-left: 10px;
  border: solid transparent;
  border-color: rgba(51,204,153,0);
}
.cover-report .report-table-area .download-count {
  width: 100px;
}
.cover-report .report-table-area .request-download {
  width: 100px;
}
.cover-report .report-table-area .delete {
  width: 100px;
}
.cover-report .report-pagination {
  float: right;
  padding-top: 1rem;
  padding-right: 2.8rem;
}
