.user-m-create-area {
  padding-top: 4rem;
  padding-bottom: 2rem;
  padding-right: 15rem;
  padding-left: 15rem;
  color: #212529;
}
.user-m-create-area .name-margin {
  padding: 0.5rem;
}
.user-m-create-area .user-m-create-title {
  padding-bottom: 4rem;
  text-align: left;
}
.user-m-create-area .continue-to-register-none {
  display: none;
}
.user-m-create-area .continue-to-register {
  text-align: right;
}
.user-m-update-area {
  padding-top: 4rem;
  padding-bottom: 2rem;
  padding-right: 15rem;
  padding-left: 15rem;
  color: #212529;
}
.user-m-update-area .name-margin {
  padding: 0.5rem;
}
.user-m-update-area .user-m-update-title {
  padding-bottom: 4rem;
  text-align: left;
}
.cell,
.cover-user-m .user-m-table-area .email,
.cover-user-m .user-m-table-area .full-name,
.cover-user-m .user-m-table-area .authority,
.cover-user-m .user-m-table-area .status,
.cover-user-m .user-m-table-area .last-login,
.cover-user-m .user-m-table-area .login-count,
.cover-user-m .user-m-table-area .detail {
  padding-top: 1.15rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}
.cover-user-m {
  padding: 2rem;
}
.cover-user-m .search-sec {
  padding-bottom: 2rem;
  padding-left: 3rem;
}
.cover-user-m .search-sec .search-email {
  width: 470px;
}
.cover-user-m .search-sec .search-full-name {
  width: 330px;
}
.cover-user-m .user-m-create-link {
  float: right;
  padding-right: 2.8rem;
  padding-bottom: 2rem;
}
.cover-user-m .user-m-table-area {
  max-height: 45%;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
}
.cover-user-m .user-m-table-area .sort-header:hover {
  color: #4169e1;
}
.cover-user-m .user-m-pagination {
  float: right;
  padding-top: 1rem;
  padding-right: 2.8rem;
}
