{% load timetags %}

<main role="main" class="inner cover-search-result-only">
    <button id="access-log-download" type="button" class="btn search-button-sakura wrn-btn">
        CSV Download
        <a name="access-log-download-link" type="hidden" href="{% url 'access_log_download' %}"></a>
    </button>

    <p class="lead">{{ result_list_count }}</p>

    <div class="table-responsive access-log-area">
        <table class="table access-log-table student-table">
            <thead>
                <tr>
                    <th class="access_date_timestamp">access_date_timestamp</th>
                    <th class="browser">browser</th>
                    <th class="os">os</th>
                    <th class="device_type">device_type</th>
                    <th class="remote_addr">remote_addr</th>
                    <th class="success_value">success_value</th>
                    <th class="fault_value">fault_value</th>
                    <th class="comment">comment</th>
                </tr>
            </thead>
            <tbody>
                {% for result in result_list %}
                <tr>
                    <td class="access_date_timestamp">{{result.access_date_timestamp | to_jst}}</td>
                    <td class="browser">{{result.browser}}</td>
                    <td class="os">{{result.os}}</td>
                    <td class="device_type">{{result.device_type}}</td>
                    <td class="remote_addr">{{result.remote_addr}}</td>
                    <td class="success_value">{{result.success_value}}</td>
                    <td class="fault_value">{{result.fault_value}}</td>
                    <td class="comment">{{result.comment}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>