.cell{
    padding-top:1.15rem;
    padding-right:1rem;
    padding-left:1rem;
    padding-bottom:1rem;
}

.access-log-area{
  max-height:70%;

  .access-log-table{
    width:1500px;

    .event_type {
      @extend .cell
    }

    .http_accept_language {
      @extend .cell
    }

    .browser {
      @extend .cell
    }

    .browser_version {
      @extend .cell
    }

    .os {
      @extend .cell
    }

    .os_version {
      @extend .cell
    }

    .device {
      @extend .cell
    }

    .device_brand {
      @extend .cell
    }

    .device_type {
      @extend .cell
    }

    .remote_addr {
      @extend .cell
    }

    .access_date {
      @extend .cell
    }

    .access_date_timestamp {
      @extend .cell
    }

    .success_value {
      @extend .cell
    }

    .fault_value {
      @extend .cell
    }
    
    .comment{
      @extend .cell
    }
  }
}
