/* TODO lessにしたい。*/

.access-log-table{
  width:2500px;
}

.access-log-area{
  max-height:55%;
}

.event_type {
  width:250px;
}
.http_accept_language {
  width:250px;
}
.browser {
  width:250px;
}
.browser_version {
  width:250px;
}
.os {
  width:250px;
}
.os_version {
  width:250px;
}
.device {
  width:250px;
}
.device_brand {
  width:250px;
}
.device_type {
  width:250px;
}
.remote_addr {
  width:250px;
}
.access_date {
  width:250px;
}
.access_date_timestamp {
  width:250px;
}
.success_value {
  width:250px;
}
.fault_value {
  width:250px;
}
.comment{
  width:250px;
}
