.report-create-area{
    padding-top: 4rem;
    padding-bottom: 2rem;
    padding-right: 15rem;
    padding-left: 15rem;
    color: #212529;

    .report-file{
        padding-right: 3rem;
    }

    .file-name-label{
        padding-top:0.3rem;
    }

    .report-create-title{
        padding-bottom:4rem;
        text-align: left;
    }

    .continue-to-register-none{
        display:none;
    }

    .continue-to-register{
        text-align: right;
    }
}

.cover-report{
    padding:2rem;

    .search-sec {
        padding-bottom: 2rem;
        padding-left: 3.0rem;

        .search-year{
            width: 80px;
        }

        .search-full-name{
            width: 140px;
        }

        .search-report{
            width: 550px;
        }
    }

    .report-create-link{
        float: right;
        padding-right:2.8rem;
        padding-bottom: 2rem;
    }

    .report-table-area{
        max-height:45%;
        padding-right:2rem;
        padding-left:2rem;
        padding-bottom: 2rem;

        .sort-header:hover{
            color:#4169e1;
        }

        .target-year{
            width:50px;
        }

        .auther-user{
            width:100px;
        }

        .file-name{
            width:400px;

            .text:hover + .comment {
                display: block;
            }

            .comment {
                display: none;
                position: absolute;
                padding: 16px;
                border-radius: 5px;
                background-color: #4169e1;
                //TODO:色は共通定義を作って整理したい。
                color: #fff;
                font-weight: bold;
            }
            
            .comment:after {
                position: absolute;
                width: 0;
                height: 0;
                left: 0;
                bottom: -19px;
                margin-left: 10px;
                border: solid transparent;
                border-color: rgba(51, 204, 153, 0);
            }
        }

        .download-count{
            width:100px;
        }

        .request-download{
            width:100px;
        }

        .delete{
            width:100px;
        }
    }

    .report-pagination{
        float: right;
        padding-top:1rem;
        padding-right:2.8rem;
    }
}