/* TODO lessにしたい。*/
.report-create-area{
    padding-top: 4rem;
    padding-bottom: 2rem;
    padding-right: 15rem;
    padding-left: 15rem;
    color: #212529;
}

.report-file{
    padding-right: 3rem;
}

.file-name-label{
    padding-top:0.3rem;
}

.report-create-title{
    padding-bottom:4rem;
    text-align: left;
}

.continue-to-register-none{
    display:none;
}

.continue-to-register{
    text-align: right;
}

.report-create-link{
    float: right;
    padding-right:1.9rem;
}

.cover-report{
    padding:2rem;
}

.report-table-area{
    max-height:50%;
    padding:2rem;
}

.target-year{
    width:50px;
}

.auther-user{
    width:100px;
}

.file-name{
    width:400px;
}

.down-load-count{
    width:100px;
}

.request-download{
    width:100px;
}

.delete-report{
    width:100px;
}