.edinet-table {
    width:1900px;
}

.position {
    width:200px;
}

.job {
    width:200px;
}

.name {
    width:200px;
}

.birthday {
    width:200px;
}

.biography {
    width:700px;
}

.term {
    width:200px;
}

.stock {
    width:200px;
}