/* TODO lessにしたい。*/
.report-create-area{
    padding-top: 4rem;
    padding-bottom: 2rem;
    padding-right: 15rem;
    padding-left: 15rem;
    color: #212529;
}

.report-file{
    padding-right: 3rem;
}

.file-name-label{
    padding-top:0.3rem;
}

.report-create-title{
    padding-bottom:4rem;
}