.user-m-create-area{
    padding-top: 4rem;
    padding-bottom: 2rem;
    padding-right: 15rem;
    padding-left: 15rem;
    color: #212529;

    .name-margin{
        padding: 0.5rem;
    }

    .user-m-create-title{
        padding-bottom:4rem;
        text-align: left;
    }

    .continue-to-register-none{
        display:none;
    }

    .continue-to-register{
        text-align: right;
    }
}

.user-m-update-area{
    padding-top: 4rem;
    padding-bottom: 2rem;
    padding-right: 15rem;
    padding-left: 15rem;
    color: #212529;

    .name-margin{
        padding: 0.5rem;
    }

    .user-m-update-title{
        padding-bottom:4rem;
        text-align: left;
    }
}

.cell{
    padding-top:1.15rem;
    padding-right:1rem;
    padding-left:1rem;
    padding-bottom:1rem;
}

.cover-user-m{
    padding:2rem;

    .search-sec {
        padding-bottom: 2rem;
        padding-left: 3.0rem;

        .search-email{
            width: 470px;
        }

        .search-full-name{
            width: 330px;
        }
    }

    .user-m-create-link{
        float: right;
        padding-right:2.8rem;
        padding-bottom: 2rem;
    }

    .user-m-table-area{
        max-height:45%;
        padding-right:2rem;
        padding-left:2rem;
        padding-bottom: 2rem;

        .sort-header:hover{
            color:#4169e1;
        }

        .email{
            @extend .cell
            width: 266px;
        }

        .full-name{
            @extend .cell
            width: 127px;
        }

        .authority{
            @extend .cell
            width: 123px;
        }

        .status{
            @extend .cell
            width: 103px;
        }

        .last-login{
            @extend .cell
            width: 209px;
        }

        .login-count{
            @extend .cell
            width: 147px;
        }

        .detail{
            @extend .cell
            width: 136px;
        }

        .delete{
            width: 99px;
        }
    }

    .user-m-pagination{
        float: right;
        padding-top:1rem;
        padding-right:2.8rem;
    }
}