{% load static %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% block extrahead %}
  <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>request_login</title>
</head>

<body class="text-center">
    <form action="{% url 'request_login' %}" method="POST" class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Nakamuratamara</h1>
        {% csrf_token %}

        <p>
            <input class="form-control" type="text" name="email" autofocus="" placeholder="email" required="" id="id_email">
        </p>
        <button class="btn btn-md btn-primary btn-block" type="submit">Request Login URL</button>
        <p class="mt-5 mb-3 text-muted">&copy; nakamuratamara 2019</p>
    </form>
</body>

</html>