{% if result_list_count > 0 %}
<div class="table-responsive">
    <table class="table student-table">
        <tbody>
            {% for result in result_list %}
            <tr>
                <td>
                    <button id="report-download" class="btn button-royal-blue-without-border btn-sm btn-block"
                        type="button">
                        {{ result.full_name }} / {{result.file_name}}
                        <a name="report-download-link" type="hidden"
                            href="{% url 'report_summary_download' %}?report_id={{result.report_id}}&password={{password}}"></a>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p class="no-summary-report">レポートがありません。</p>
{% endif %}