{% load static %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% block extrahead %}
<link href="{% static 'css/student.styl' %}" rel="stylesheet">
{% endblock %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>show</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">Nakamuratamara</h3>
            </div>
        </header>
        <main role="main" class="inner cover">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <select class="custom-select d-block w-100" id="target-year" name="target_year" required="">
                        <option value="">Select Year...</option>
                        {% for key,val in target_years %}
                            {% if target_year == key %}
                                <option selected value={{ key }}>{{val}}</option>
                            {% else %}
                                <option name="target-years" value="{{ key }}">{{val}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div id="search-result">
                <div class="table-responsive report-table-area">
                    <table class="table student-table">
                        <tbody>
                            {% for result in result_list %}
                            <tr>
                                <td class="request-download">
                                    <button id="report-download" class="btn button-royal-blue btn-sm btn-block"
                                        type="button">
                                        {{ result.full_name }} / {{result.file_name}}
                                        <a name="report-download-link" type="hidden"
                                            href="{% url 'report_download' %}?report_id={{result.report_id}}"></a>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
</body>

</html>