{% load static %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% block extrahead %}
<link href="{% static 'css/student.styl' %}" rel="stylesheet">
{% endblock %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>show</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">Nakamuratamara</h3>
            </div>
        </header>
        <main role="main" class="inner cover">
            <div id="search-result">
                <div class="table-responsive report-table-area">
                    <table class="table student-table">
                        <tbody>
                            {% for result in result_list %}
                            <tr>
                                <td class="auther-user">{{ result.full_name }}</td>
                                <td class="file-name">
                                    <p class="text">{{result.file_name}}</p>
                                </td>
                                <td class="request-download">
                                    <button id="report-download" class="btn button-royal-blue btn-sm btn-block"
                                        type="button">
                                        ダウンロード
                                        <a name="report-download-link" type="hidden"
                                            href="{% url 'report_download' %}?report_id={{result.report_id}}"></a>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
</body>

</html>