{% load compile_static %}
{% load static %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% block extrahead %}
<link href="{% static 'css/student.styl'|compile %}" rel="stylesheet">
{% load compress %}
{% compress js %}
<script type="text/javascript" src="{% static 'js/report-summary.js' %}"></script>
{% endcompress %}
{% endblock %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>show</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead">
            <div class="inner">
                <h3 class="masthead-brand">Nakamuratamara</h3>
            </div>
        </header>
        <main role="main" class="inner report-summary-cover-top">
            <form id="report-summary-form" action="{% url 'report_summary_change' %}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <select class="custom-select d-block w-100" id="target-year" name="target_year" required="">
                            <option value="">Select Year...</option>
                            {% for key,val in target_years %}
                                {% if target_year == key %}
                                    <option selected value={{ key }}>{{val}}</option>
                                {% else %}
                                    <option name="target-years" value="{{ key }}">{{val}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>
        </main>
        <main role="main" class="inner report-summary-cover-bottom">
            <div id="search-result">
            </div>
        </main>
    </div>
</body>

</html>